{% extends '../index_master.html'%}

{% block content %}
<div class="right_col" role="main">
   <h1>Eliminar Usuario</h1>

   <form action="eliminar" method="POST">
   {% csrf_token %}

   <div class="form-group row">
      <label for="nombre" class="col-4 col-form-label">ID Usuarios</label> 
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-id-badge"></i>
            </div>
            
            <select id ='id'name='id'></select>
            {% for u in Usuarios %}
               <option value='{{u.id}}'>{{u.id}}</option>
            {% endfor %}
         </select>
          </div> 
          <input id="nombre" name="nombre" type="text" required="required" class="form-control">
        </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>Eliminar Usuario</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}